In [5]:
import pandas as pd

In [6]:
def Odd(n):
  Odd_list = []
  for nth in range(0,n):
    Odd = nth*2+1
    Odd_list.append(Odd)
  return Odd_list

In [7]:
def Even(n):
  Even_list = []
  for nth in range(0,n):
    Even = nth*2
    Even_list.append(Even)
  return Even_list

In [8]:
def fibonacci(n):
  fibonacci=[0,1]
  if (n == 1):
    fibonacci.pop()
  for nth in range(0,n-2):
    val = fibonacci[-1] + fibonacci[-2]
    fibonacci.append(val)
  return fibonacci

In [10]:
try:
  length = int(input("Please enter an integer value greater than 0: "))
except ValueError:
  print("ERROR: Couldn't convert data to an integer.")
if (length <= 0):
  print("ERROR: Integer must be greater than 0")
else:
  Odd_list = Odd(length)
  Even_list = Even(length)
  Fibonacci_list = fibonacci(length)

  df = pd.DataFrame({'Even': Even_list, 'Odd': Odd_list, 'Fibonacci': Fibonacci_list})

df

Please enter an integer value greater than 0: 14

    Even  Odd  Fibonacci
0      0    1          0
1      2    3          1
2      4    5          1
3      6    7          2
4      8    9          3
5     10   11          5
6     12   13          8
7     14   15         13
8     16   17         21
9     18   19         34
10    20   21         55
11    22   23         89
12    24   25        144
13    26   27        233